<!-- <div class="main__container">
  <div class="login-card">

    <main class="login-content"> -->
      <!-- login form -->
      <!-- <h1 class="login-welcome-text">Welcome Back!</h1>
      <form (submit)="login()" method="post" class="login-form">
        <input type="text" autofocus placeholder="Account Username" name="username" class="login-input" [(ngModel)] = 'username'>
        <input type="password" placeholder="Password" name="password" class="login-input" [(ngModel)] = 'password'>
        <input type="submit" name="submit" placeholder="Log in" class="login-btn">
      </form>
    </main> -->
    <!-- linking to signup -->
    <!-- <aside class="login__illustration">
      <span class="signup-notice">Don't have an account? &nbsp;</span>
      <a class="signup-link" href="/signup">Sign up</a>
    </aside>

  </div>
</div> -->
<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
     <input name="email" [(ngModel)] = "user.username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
     <label for="inputPassword" class="sr-only">Password</label>
     <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
     <div class="checkbox">
       <label>
         <input type="checkbox" value="remember-me"> Remember me
       </label>
     </div>
 <button class="btn btn-lg btn-primary btn-block" (click)="validateLogin();" type="button">Sign in</button>
</form>
